<%= render partial: 'home/header' %>

<div class='curriculum-group-form'>
  <h1>学習するタイトル名を入力してください</h1>
  <%= form_for(@group) do |f| %>
    <div class='curriculum-group-form__field clearfix'>
      <div class='curriculum-group-form__field--left'>
        <label class="curriculum-group-form__label" for="curriculum_group_name">タイトル</label>
      </div>
      <div class='curriculum-group-form__field--right'>
        <%= f.text_field :name, class: "curriculum-group-form__input", placeholder: "タイトルを入力してください(最大15文字)", id: "curriculum_group_name" %>
      </div>
    </div>

    <div class='curriculum-group-form__field clearfix'>
      <div class='curriculum-group-form__field--left2'>作成者</div>
      <div class='curriculum-group-form__field--right'><%= current_user.name %></div>
    </div>

    <div class='curriculum-group-form__field clearfix'>
      <div class='curriculum-group-form__field--right'>
      </div>
    </div>

    <div class='curriculum-group-form__field clearfix'>
      <div class='curriculum-group-form__field--left'></div>
      <div class='curriculum-group-form__field--right'>
        <input type="submit" name="commit" value="作成" class="curriculum-group-form__action-btn" data-disable-with="Save" />
      </div>
    </div>
   <% end %>
</div>
