<header>
<div class="header">
  <div class="header-logo">
    <a> ポモ学</a>
  </div>
  <% if user_signed_in? %>
  <ul class="header-menus">
    <li>
      <div class="mypage">
        <a href="/users/<%= current_user.id %>"> マイページ</a>
      </div>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn' %>
    </li>
  </ul>
  <% end %>
</div>
</header>