.account-page{
  background-image: url(/images/image5.jpeg);
  background-size: cover;
  height: 100vh;
  padding-top: 232px;
  h2{
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  &__inner{
    text-align: center;
    margin-top: -88px;
  }
}

.cancel-edit:hover{
  color: red;
  transition: color .3s;
}