.notification {
  .notice {
    background: orange;
    color: white;
    text-align: center;
    line-height: 20px;
  }

  .alert {
    background: orange;
    color: white;
    text-align: center;
  }
}