// カリキュラム作成・編集
.curriculum-name{
  line-height: 75px;
  color: white;
  font-size: 45px;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.curriculum-group-form {
  width: 700px;
  margin: 120px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 18px;
  box-sizing: border-box;
  h1 {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border-radius: 2px;
    text-align: center;
    h2 {
      margin-bottom: 10px;
      color: #f05050;
      font-size: 14px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  }

  &__field {
    margin-top: 30px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    &--left2 {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
      text-align: right;
    }

    &--right {
      float: right;
      width: 70%;
    }
  }
    &__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    &__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      box-sizing: border-box;
    }

    &__action-btn {
      display: inline-block;
      width: 120px;
      padding: 12px 20px;
      color: #fff;
      background-color: #38aef0;
      border: 0;
      border-radius: 50px;
    }
  }

  .curriculum-group-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &__name {
      float: left;
    }

    &__btn {
      float: right;
      display: inline-block;
      cursor: pointer;

      &--add {
        color: #38aef0;
      }

      &--remove {
        color: #f05050;
      }
    }
  }

.pagination{
  margin: 50px 40px 0;
  padding: 0 20px;
  border-radius: 11px;
  background: #9966CC;
}


// マイページカリキュラムリスト
.group-list {
  width: 650px;
  float: right;
  height: 646px;
  padding: 30px;
  margin-top: 35px;
  background: #fbfaf5;
  overflow: scroll;
  border-radius: 18px;
  &__append-btn{
    margin: 10px 0;
    display: inline-block;
    width: 217px;
    padding: 12px 20px;
    background-color: #38aef0;
    border: 0;
    border-radius: 50px;
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  &__group{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
    a{
      color: black;
      font-size: 30px;
      text-decoration: none;
      margin-left: 9px;
      max-width: 467px;
      min-width: 467px;
    }
    &--more{
      margin-right: 10px;
      &__edit-btn:hover{
        color: blue;
        transition: color .3s;
      }
      &__delete-btn:hover{
        color: red;
        transition: color .3s;
      }    
    }
  }
  &__group:hover{
    background: rgba(192,192,192,0.5);
    transition: color .3s;
  }
}

.fa-camera:hover{
  -webkit-transform: scale(3);
  transform: scale(1.3);
  cursor: pointer;
}

.fa-edit,.fa-trash-alt{
  font-size: 25px;
}