.mypage-body{
  display: flex;
}

.mypage a:hover{
  color: blue;
  transition: color .3s;
}

.user-info{
  height: 100vh;
  float: left;
  width: 50%;
  &__box {
    padding: 25px;
    background: #fbfaf5;
    max-width: 300px;
    margin: 60px 0 0 200px;
    height: 600px;
    font-size: 20px;
    border-radius: 18px;
    a {
      color: #2d3133;
      text-decoration: none;
    }
  }
  &__image{
    height: 250px;
    width: 250px;
    margin: 15px auto;
    &__field{
      margin-top: 10px;
      font-weight: 900;
      display: flex;
      justify-content: flex-end;
    }
  }
  &--item {
    display: flex;
    margin-top: 30px;
    &__time,&__post {
      width: 100px;
    }
  }
  &__edit-btn{
    width: 41px;
    line-height: 5px;
    padding: 1px;
    background-color: black;
    border: 0;
    border-radius: 5px;
    text-align: center;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      line-height: 11px;
    }
  }
  &__edit-btn:hover{
    -webkit-transform: scale(2.5);
    transform: scale(1.1);
  }
}


#img1{
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 10px;
}

.user-name{
  margin-top: 3px;
  font-size: 30px;
  &__field{
    border-radius: 10px;
  }
}

#user_name{
  height: 40px;
  width: 250px;
  margin-bottom: 5px;
  border-radius: 10px;
}

a{
  color: white;
}

.choose-file{
  font-size: 25px;
  margin-right: 10px;
}

#no-image{
  margin-left: 10px;
}

#chenge-none{
  display: none;
}
#chenge-btn:hover{
  -webkit-transform: scale(2.5);
  transform: scale(1.1);
}