.fas{
  font-weight: 900;
}

.fa, .fas {
  font-weight: 900;
}

.container{
  padding-top: 20px;
}

.left-box{
  width: 70%;
}

.right-box{
  width: 30%;
}
// ここから投稿フォーム
.form{
  width: 800px;
  float: left;
  margin-left: 25px;
  background: white;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 18px;
}
  .form-body {

    padding: 30px;
    background: #fbfaf5;
    border-radius: 18px;
  }
  .post-form {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #f4f4f4;
    font-size: 20px;
    p{
      margin-left: 10px;
      margin-top: 4px;
    }
    &__time,&__info {
      font-size: 20px;
      margin-right: auto;
      font-weight: bold;
    }
  }
  
  #time {
    padding: 10px;
    border: none;
  }
  .textbox {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    min-height: 376px;
    border: 1px solid #d8dadf;
    resize: none;
    border-radius: 8px;
  }
  .form__mask {
    height: 36px;
    display: flex;
    justify-content: space-between;
  }
  .form__mask .fa-twitter {
    font-size: 25px;
    margin-top: 27px;
    color: #2d3133;
  }
  .fa-twitter:before {
    content: "\f099";
  }
  .switchArea {
    position: relative;
    width: 52px;
    background: #fff;
    margin: 25px 40px 15px 10px;
  }
  .switchArea input[type="checkbox"] {
    display: none;
  }
  .switchArea input[type="checkbox"]:checked + label {
    border-color: #2d3133;
    background: #0099FF;
  }
  .switchArea input[type="checkbox"]:checked ~ .swImg {
    transform: translateX(22px);
    background: #2d3133;
  }
  .form input[type="submit"] {
    background: #2d3133;
    color: white;
    cursor: pointer;
    font-weight: 300;
    width: 120px;
    height: 50px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 0;
    border-radius: 50px;
  }
  .form-body:after {
    content: '';
    display: table;
    clear: both;
  }

// ここから投稿一覧

#post-container{
  display: flex
}

.posts{
  height: 675px;
  float: right;
  width: 500px;
  padding: 60px;
  margin: 30px 40px 0 20px;
  background: #fbfaf5;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 18px;
  overflow: scroll;
}

.post{
  margin-bottom: 20px;
  max-width: 588px;
  max-height: 150px;
  min-height: 150px;
  background: white;
  border: solid 1px silver ;
  border-radius: 5px; 
  padding: 5px;
}

.upper-post__content{
  overflow: scroll;
  height: 100px;
  a{
    color: red;
  }
}

.cant__submit{
  color: red;
  font-size: 30px;
  margin-top: 5px;
}

footer{
  background: silver;
}

.back-btn{
  font-size: 20px;
  margin-top :10px;
  margin-left:10px;
  a{
  color: blue;
  }
}

.read-all{
  margin: 40px 120px 60px;
  padding: 60px;
  min-height: calc(100vh - 120px);
  background: white;
  overflow: scroll;
}

.read-more{
  color: red;
}